App/Spectrum\ Hunter\ AV/*.pdb
App/Spectrum\ Hunter\ AV/*.dll
App/Spectrum\ Hunter\ AV/obj
App/Spectrum\ Hunter\ AV/bin
App/Spectrum\ Hunter\ AV/Plugins
App/Spectrum\ Hunter\ AV/Unprocessed
App/Players
App/Unity
App/GeneratedProjects
Library
UWP